.layout-block {
  display: grid;
}

.layout-block--two-column {
  @include media-breakpoint-up(md) {
    grid-template:
      'left right' auto /
      1fr   1fr;

    .element:first-child {
      grid-area: left;
    }

    .element:nth-child(2) {
      grid-area: right;
    }
  }
}

.layout-block--one-two {
  @include media-breakpoint-up(md) {
    grid-template:
      'left top-right' auto
      'left bottom-right' auto /
      1fr   1fr;

    .element:first-child {
      grid-area: left;
    }

    .element:nth-child(2) {
      grid-area: top-right;
    }

    .element:nth-child(3) {
      grid-area: bottom-right;
    }
  }
}

.layout-block--stacked {
  grid-template:
    'stack' auto /
    1fr;
  text-align: center;

  .element:first-child {
    grid-area: stack;
    height: 100%;
    position: relative;

    > div {
      height: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:
        linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.3967787798713235) 0%,
          rgba(0, 0, 0, 0.5032213569021359) 50%,
          rgba(0, 0, 0, 0.39957990031950286) 100%
        );
    }
  }

  .element:nth-child(2) {
    align-self: center;
    color: white;
    grid-area: stack;
    position: relative;
    z-index: 1;
  }
}

.layout-block--two-one-two {
  @include media-breakpoint-up(md) {
    grid-gap: 20px;
    gap: 20px;
    grid-template:
      'md-top-left    md-top-right' auto
      'md-middle      md-middle' auto
      'md-bottom-left md-bottom-right' auto /
      1fr             1fr;
  }

  @include media-breakpoint-up(lg) {
    grid-gap: 20px;
    gap: 20px;
    grid-template:
      'top-left    middle top-right' auto
      'bottom-left middle bottom-right' auto /
      1fr          1fr    1fr;
  }

  .element:first-child {
    @include media-breakpoint-up(md) {
      grid-area: md-top-left;
    }

    @include media-breakpoint-up(lg) {
      grid-area: top-left;
    }
  }

  .element:nth-child(2) {
    @include media-breakpoint-up(md) {
      grid-area: md-top-right;
    }

    @include media-breakpoint-up(lg) {
      grid-area: middle;
    }
  }

  .element:nth-child(3) {
    @include media-breakpoint-up(md) {
      grid-area: md-middle;
    }

    @include media-breakpoint-up(lg) {
      grid-area: top-right;
    }
  }

  .element:nth-child(4) {
    @include media-breakpoint-up(md) {
      grid-area: md-bottom-left;
    }

    @include media-breakpoint-up(lg) {
      grid-area: bottom-left;
    }
  }

  .element:nth-child(5) {
    @include media-breakpoint-up(md) {
      grid-area: md-bottom-right;
    }

    @include media-breakpoint-up(lg) {
      grid-area: bottom-right;
    }
  }
}
