img {
  height: auto;
  max-width: 100%;
}

img.center {
  margin: 0 auto;
  display: block;
}

img.leftAlone {
  float: left;
  margin-right: auto;
  padding: 0 1rem 1rem 0;
  display: block;
}

img.leftAlone + * {
  clear: both;
}

img.rightAlone {
  float: right;
  margin-left: auto;
  padding: 0 0 1rem 1rem;
  display: block;
}

img.left {
  float: left;
  padding: 0 1rem 1rem 0;
}

img.right {
  float: right;
  padding: 0 0 1rem 1rem;
}
